[Unit]
Description=EmbyStream Google Drive API gateway
After=network-online.target docker.service nginx.service
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/root/docker-compose/embystream
ExecStart=/root/docker-compose/embystream/bin/embystream run --config /root/docker-compose/embystream/config/config.toml
Restart=on-failure
RestartSec=3
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target

