[Log]
level = "info"
prefix = "embystream"
root_path = "/root/docker-compose/embystream/logs"

[General]
memory_mode = "middle"
stream_mode = "dual"
encipher_key = "$EMBYSTREAM_ENCIPHER_KEY"
encipher_iv = "$EMBYSTREAM_ENCIPHER_IV"

[Emby]
url = "http://127.0.0.1"
port = "8096"
token = "$EMBY_TOKEN"

[UserAgent]
mode = "deny"
allow_ua = []
deny_ua = []

[Http2]
ssl_cert_file = "/root/docker-compose/embystream/config/ssl/ssl-cert"
ssl_key_file = "/root/docker-compose/embystream/config/ssl/ssl-key"

[Fallback]
video_missing_path = ""

[Frontend]
listen_port = 60001
check_file_existence = false
device_id_exempt_clients = []

[Frontend.AntiReverseProxy]
enable = false
host = ""

[Backend]
listen_port = 60002
base_url = "$PUBLIC_BASE_URL"
port = "18080"
path = "stream"
check_file_existence = false
problematic_clients = []

[[BackendNode]]
name = "GoogleDriveZero"
type = "googleDrive"
pattern = "^/CloudNAS/CloudDrive/GoogleDrive/zero/.*"
base_url = "https://www.googleapis.com"
port = "443"
path = ""
priority = 0
proxy_mode = "proxy"
client_speed_limit_kbs = 0
client_burst_speed_kbs = 0

[[BackendNode.PathRewrite]]
enable = true
pattern = "^/CloudNAS/CloudDrive/GoogleDrive/zero(/.*)$$"
replacement = "$$1"

[BackendNode.AntiReverseProxy]
enable = false
host = ""

[BackendNode.GoogleDrive]
node_uuid = "google-drive-zero"
client_id = "$GOOGLE_CLIENT_ID"
client_secret = "$GOOGLE_CLIENT_SECRET"
drive_id = "$GOOGLE_DRIVE_ID"
drive_name = "zero"
access_token = "$GOOGLE_ACCESS_TOKEN"
refresh_token = "$GOOGLE_REFRESH_TOKEN"
